* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
}

header {
  background-color: #30a7c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header img {
  width: 80px;
  border: 2px solid rgb(175, 29, 29);
  border-radius: 20px;
  padding: 5px;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding-right: 0.8rem;
}
header nav ul li:hover {
  background-color: pink;
  padding: 0.4rem;
  border-radius: 30%;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

main .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc6699;
  padding: 1.5rem;
  line-height: 4rem;
}
main button {
  display: inline-block;
  width: 9rem;
  padding: 1rem;
  background-color: #30a7c3;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 900;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
}
main button:hover {
  background-color: pink;
  color: azure;
  cursor: pointer;
}
main img {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
}

.cards {
  display: flex;
  padding: 1rem;
}
.cards .card1 {
  background-color: brown;
  color: white;
  width: 25%;
  height: 15rem;
  border: 2px solid rgb(175, 29, 29);
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
}
.cards .card2 {
  background-color: rgb(42, 165, 63);
  color: white;
  width: 25%;
  height: 15rem;
  border: 2px solid rgb(175, 29, 29);
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
}
.cards .card3 {
  background-color: rgb(165, 157, 42);
  color: black;
  width: 25%;
  height: 15rem;
  border: 2px solid rgb(175, 29, 29);
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
}
.cards .card4 {
  background-color: rgb(42, 46, 165);
  color: white;
  width: 25%;
  height: 15rem;
  border: 2px solid rgb(175, 29, 29);
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
}

.articles {
  display: flex;
  padding: 1rem;
}
.articles .article1, .articles .article2 {
  width: 50%;
  background-color: rgb(65, 105, 6);
  border: 1px solid black;
  border-radius: 10px;
  height: 10rem;
  margin: 1rem;
  padding: 0.5rem;
}
.articles .article2 {
  background-color: chocolate;
}

.footer .socialIcons {
  display: flex;
  height: 8rem;
}
.footer .socialIcons .social1 {
  width: 20%;
  height: 100%;
  background-color: rgba(213, 91, 91, 0.951);
  color: #64c217;
  font-weight: 100;
  font-size: 1rem;
}
.footer .socialIcons .social2 {
  width: 20%;
  height: 100%;
  background-color: rgba(222, 123, 123, 0.951);
  color: #121456;
  font-weight: 200;
  font-size: 2rem;
}
.footer .socialIcons .social3 {
  width: 20%;
  height: 100%;
  background-color: rgba(230, 156, 156, 0.951);
  color: #0fa8a1;
  font-weight: 300;
  font-size: 3rem;
}
.footer .socialIcons .social4 {
  width: 20%;
  height: 100%;
  background-color: rgba(238, 188, 188, 0.951);
  color: #55004e;
  font-weight: 400;
  font-size: 4rem;
}
.footer .socialIcons .social5 {
  width: 20%;
  height: 100%;
  background-color: rgba(246, 221, 221, 0.951);
  color: #990000;
  font-weight: 500;
  font-size: 5rem;
}

.footer {
  background-color: green;
}/*# sourceMappingURL=index.css.map */