* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

// //********************************************
// //! Variable Declaration
// //********************************************
$bgColor: pink;
$fontColor: white;
$fontSize: 1.2rem;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(175,29,29);
$myLinkSize: 1.1rem;
$bannerBgColor: #cc6699;

//********************************************
//! Variable Usage
//********************************************
body {
background-color: $bgColor;
font-family: $fontFamily;
color:$fontColor;
font-size: $fontSize;
}

//*******  HEADER *********/
header {
background-color: $navBgColor;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
    img{
        width: 80px;
        border: $myBorder;
        border-radius: 20px;
        padding: 5px;
    }
    nav{
        ul {
                list-style-type: none;
                li {
                //! içinde bulundğumuz elementi refere etmek için & işareti kullanılır.
                display: inline-block;
                &:hover {
                text-decoration:underline;
                        }
                    a {
                        color: $fontColor;
                        text-decoration: none;
                        padding: 0.5rem;
                    }
                }
        }
    }
}

//*******  MAIN *********/

main {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bannerBgColor;
        padding: 1.5rem;
        line-height: 4rem;
    }
    button{
    display: inline-block;
    width: 9rem;
    padding: 1rem;
    background-color: $navBgColor;
    border: none;
    border-radius: 20px;
    color: $fontColor;
    font-weight: 900;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
    &:hover {
    background-color: $bgColor;
    color: azure;
    cursor: pointer;
    }
    }
    img{
    width: 20rem;
    }
}