* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
}

.yazi {
font-size: 2rem;
width: 50vw;
margin: 2rem auto;
}

/************ ROTATE **************/
/*! döndürme yapar*/
.yazi1 {
background-color: aqua;
transform: rotateX(120deg);
/*! 90 ve 270 derecelerde yazılar tam dik olduklarından ve 3-boyutlu olarak bakamadığımız için gözükmezler */
}

.yazi2 {
background-color: hotpink;
transform: rotateY(120deg);
}

.yazi3 {
 /*? rotate, Elementi saat yönünde ya da tersi istikamette döndürür. */
background-color: chocolate;
/* transform: rotate(45deg); */
transform: rotate(-45deg);
}

/*************** SCALE ************/
/*! boyut büyütüp küçültür*/
.yazi4 {
background-color: violet;
}
.yazi4:hover {
transform: scaleX(1.5) scaleY(3);
}

.yazi5 {
background-color: yellowgreen;
}
.yazi5:hover {
/* transform: scale(2, 3); */
transform: scale(1.05);   /*!her iki eksende %5 büyüme olur*/
}

/*************** TRANSLATE ************/
/*! sağa sola yukarı aşağıya hareket eder */
.translate {
background-color: coral;
width: 8rem;
height: 6rem;
margin: 0.6rem auto;
color: white;
transition: transform 1s; /*! geçişlerin zamanlamasını ayarlar*/
}

.x:hover {
transform: translateX(50px);
}

.y:hover {
transform: translateY(50px);
}

.xy:hover {
transform: translate(50px,50px);
}