//*****************************************************
//*   FOOTER
//*****************************************************

.link-style {
    a{
        padding: 0.4rem;
        @include transition(1s);
        text-shadow: 2px 2px 5px rgb(111, 3, 3);

        &:hover{
            color: $secondary-color;
        }
    }
}

footer.horizontal {
    // border: solid 2px red;
    height: 10vh;
    display: flex;
    align-items: flex-end ;
    justify-content: space-between;
    padding: 1rem;
    @extend .link-style;

    .copyright {
    font-weight: 700;
    letter-spacing: 1px;
    }
}


footer.vertical{
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
    margin-bottom: 1rem;
    .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
        left: 0.5rem;
        @extend .link-style;
    }
    .copyright{

        font-weight: 600;
        position: fixed;
        bottom: 1rem;
        right: 3rem;
        transform: rotate(90deg) translate(-3rem, -5rem);
    }

}


footer.middle {
    height: 20vh;
    display: flex;
    flex-direction: column;
    // border: 2px solid red;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    @extend .link-style;
}