* {
    color: white;
    margin: 0;
  }
  
  header.banner .bg {
    background-image: url('../assets/img/tree.webp');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align:center;
  }

h1,p{
padding-top: 100px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
}

.button{
    height:1.4vh; 
    position: relative;
    top:60%;
    
}

.button1{
    background-color: red;
    width:100px;
  
}
.button2{
    background-color: yellow;
    width: 100px;
}
.button3{
    background-color: gray;
    width: 100px;
}